@font-face {
  font-family: "DesignatedLogo";
  src: url("./Fonts/DesignatedLogo.woff2") format("woff2");
}

@font-face {
  font-family: "DesignatedNav";
  src: url("./Fonts/DesignatedNav.woff2") format("woff2");
}

@font-face {
  font-family: "DesignatedAccent";
  src: url("./Fonts/DesignatedAccent.woff2") format("woff2");
}
